In [6]:
ALTER TABLE CMNS_BAIRRO
  ADD  BAIR_CODIGO CODE_010;

ALTER TABLE CMNS_GRUPO_USUARIO
    ADD GRUS_CODIGO CODE_010;

ALTER TABLE CMNS_LOCALIDADE
    ADD LCLD_CODIGO CODE_010;

ALTER TABLE CMNS_LOGRADOURO 
    ADD LGRD_CODIGO CODE_010;

ALTER TABLE CMNS_PAIS
    ADD PAIS_CODIGO  CODE_005;

ALTER TABLE CMNS_UNIDADE_FEDERATIVA
    ADD UNFD_CODIGO CODE_010;

ALTER TABLE CMNS_USUARIO
    ADD USRS_CODIGO CODE_010 NOT NULL;